@use "./base.scss";

// put your custom CSS here!
html{
    background-color: #2e3440;
    background-image: url('/quartz/assets/noisecompacted.png');
    // overflow: hidden;
}

.App{
    margin: 2% 1% 2% 1%;
    display: inline-grid;
}

.colL{
    width: 30vw;
    overflow-x: clip;
    grid-column: 1;
    grid-row: 1;
}

.Vouch{
    height: 37vh;
    overflow-y: scroll;
}
.VouchButton{
    font-size: 1.8vh;
    margin: 3px 5px;
    color: antiquewhite;
    background-color: #ffffff00;
    transition: 1s;
}
.VouchButton:hover{
    background-color: rgb(200, 117, 178);
    transition: 2s;
}
.VouchButton rt{
    font-size: 0.6em;
    font-weight: bold;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.IoShelf{
    height: 15vh;
    outline-offset: -7px;
    border-bottom: 3px solid burlywood;
    overflow: hidden;
    display: grid;
}
.IoShelf img{
    height: 15vh;
    grid-column-start: 1;
    grid-row-start: 1;
}
.IoShelf table{
    height: 15vh;
    color: aquamarine;
    table-layout: fixed;
    float: right;
    grid-column-start: 2;
    grid-row-start: 1;
}
    tr{
        height: 7vh;
        font-size: 3vh;
        font-family: Caveat;
    }

.Showcase{
    height: 38vh;
    display: flex;
    flex-direction: row;
    animation: roll 60s infinite  ;
}
.Showcase img{
    height: 38vh;
    padding: 2vh 2vh 2vh 0vh;
    display: inline-block;
}
@keyframes roll{
    0%{
        transform: translateX(0);
    }
    90%{
        transform: translateX(-600%);
    }
    100%{
        transform: translateX(0%);
    }
}

.colM{
    width: 33vw;
    grid-column: 2;
    grid-row: 1;
}

.TabContainer{
    height: 90vh;
    color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
}
.TabBody{
    height: 87vh;
    border-left: 2px solid rgba(255, 99, 182, 0.741);
    padding: 1%;
    margin-left: 1vw;
    display: inline-grid;
    overflow-y: scroll;
}
.react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
  }
  
  .react-tabs__tab:focus {
    outline: none;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }

.Post {
    background: rgba(255, 255, 255, 0.1);
}
.Post br{
    padding-bottom: 5px;
}
.Post img{
    width: 29vw;
}
.postTag{
    font-size: .8em;
    line-height: .5em;
    color: grey;
}
  

.WorkTab img{
    width: 29vw;
    padding: 2%;
}

.colR{
    width: 30vw;
    grid-column: 3;
    grid-row: 1;
    display: inline-grid;
}
#opal{
    height: 42vh;
    margin-left: 10vw;
    grid-column: 1;
    grid-row: 1;
}
#title{
    margin-left: 12vw;
    margin-top: 11vh;
    grid-column: 1;
    grid-row: 1;
    color: deeppink;
    font-family: Caveat;
    font-size: 5vh;
    text-shadow: 1px 1px 2px blueviolet;
}
#title span{
    font-size: 3vh;
}
#subtitle{
    margin-left: 12vw;
    margin-top: 16vh;
    grid-column: 1;
    grid-row: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6vh;
    color: deeppink;
    text-shadow: 1px 1px 2px blueviolet;
}

#chrys{
    grid-column: 1;
    grid-row: 2;
    height: 24vh;
    margin-top: 25vh;
}

.links{
    grid-column: 1;
    grid-row: 2;
    margin-left: 15vw;
    margin-top: 3vh;
}

.links button{
    width: 10vw;
}